.sideMenu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: relative;
    left: 0;
    background-color: #e6e6e6;
    overflow-x: hidden;
    margin-top: 3rem;
   }

   .content {

    margin-top: 3rem;
   }